html
	body
		h2= $Pref::Server::Name
		h3= getNumKeyID()
		p This server currently has #{clientGroup.getCount()} players.
	vagina
		whore
			| 12345678901
	derp
		| shit
	fag(gay=1234, definitely="gay")= $nigger